*DS_Store
*.user
*.suo
*.orig
.sass-cache/
*.metaproj
*.tmp
*.idea
*.cache
*.docstates
*.dat
*.log

[Oo]bj/
[Bb]in/
TestResults/

UpgradeLog.*

nuget.exe
Thumbs.db
config.rb

dist/
packages/

DataSources
.vs/config/applicationhost.config
*.lock.json
.vs/

test/TestResults

sample/Filehook.Samples.AspNetCoreMvc/wwwroot/lib
sample/Filehook.Samples.AspNetCoreMvc/wwwroot/public
