@inject Filehook.Abstractions.IFilehookService filehookService
@model AttachmentViewModel

<form asp-action="index" asp-controller="home" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Id" class="control-label">Id</label>
            <input type="text" asp-for="Id">
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <div class="form-group col-md-12">
            <label asp-for="AttachmentFile" class="control-label">Select pdf</label>
            <input type="file" asp-for="AttachmentFile" accept="application/pdf">
            <span asp-validation-for="AttachmentFile" class="text-danger"></span>
        </div>

        <div class="form-group col-md-12">
            <label asp-for="CoverImageFile" class="control-label">Select image</label>
            <input type="file" asp-for="CoverImageFile" accept="image/*">
            <span asp-validation-for="CoverImageFile" class="text-danger"></span>
        </div>

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
</form>

<h1> Articles </h1>
<ul>
    @foreach (Article article in ViewBag.Articles)
    {
    <li>
        <h2>@article.Id</h2>
        <section>
            <h3>Cover Images</h3>
            @{
                var styleUrls = filehookService.GetUrls(article, a => a.CoverImageFileName, article.Id.ToString());
            }
            <ol>
                @foreach (var styleUrl in styleUrls)
                {
                <li>
                    <div>@styleUrl.Key - @styleUrl.Value</div>
                    <img src="@styleUrl.Value" />
                </li>
                }
            </ol>
        </section>
    </li>
    }
</ul>